/* общие стили */
html, body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: Arial, sans-serif;
	color: #000;
	width: 100%;
	height: 100%;
	min-width: 775px;
	background: #fff;
	font-weight: 300;
}

.button_blue {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border: none;
	outline: none;
	font-weight: 700;
	color: #fff;
	font-size: 14px;
	background: url(images/buttons.png) no-repeat;
	background-position: 0px -572px;
	width: 92px;
	height: 41px;
}
.button_blue:hover {    color: #d0d0d0; background-position: -94px -572px; cursor: pointer; }

.dn {	display: none;	}

.error {
	color: #f00;
	font-size: 11px;
	margin: -5px 0px 5px 5px;
}

/* авторизация */
.enter {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	border: solid #b3b3b3 1px;
	padding: 26px 54px 39px 59px;
	margin: -125px 0px 0px -180px;
	width: 245px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.enter .caption {
	font-size: 21px;
	text-align: center;
	margin: 0px 0px 14px 0px;
}

.enter input {
	border: none;
	outline: none;
	background: #dadada;
	padding: 0px 0px 0px 41px;
	margin: 0px 0px 4px 0px;
	width: 199px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: 13px 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.enter #login { background-image: url(images/i_man.png); }
.enter #password {  background-image: url(images/i_lock.png);    }
.enter .send {  margin: 12px 0px 0px 71px;  }

/* контент */
.container {	width: 100%; max-width: 1490px; margin: 0 auto; padding: 0px 0px 100px 0px;	}
.attention {	text-align: center; font-weight: 700; margin: 20px 10px 20px 10px; font-size: 24px;	}

table {	width: 100%; border-collapse: collapse; margin: 50px auto 0px auto;	}

table th, table td {
	border: solid #000 1px;
	padding: 10px 5px 10px 5px;
	text-align: left;
	vertical-align: middle;
	font-size: 20px;
}

.footer {
	border-top: solid #4d4a47 5px;
	background: #f0ede8;
	height: 71px;
	overflow: hidden;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.footer .caption {	float: left; margin: 21px 17px 0px 17px; font-size: 18px;	}
.footer .exit {	float: right; margin: 21px 5px 0px 25px; font-size: 18px; color: #000; cursor: pointer;	}
.footer .exit:hover {	text-decoration: underline;	}
.footer input {	height: 67px; padding: 0px 0px 0px 5px; font-size: 20px;	}