<script>
	import Authorization from './Authorization.svelte';
	import ListProducts from './ListProducts.svelte';
	import InputSearch from './InputSearch.svelte';

	/**
	 * авторизация
	 */
	function getAuthorization(e) {
		authorization_status = e.detail.status;
		
		if (authorization_status) {
			getProducts();
		}
	}

	/**
	 * поиск продуктов при изменении полей поиска
	 */
	function checkSearchProducts(e) {
		search[e.detail.name] = e.detail.value;

		if ( (search.category !== '') || (search.name !== '') || (search.provider !== '') ) {
			searchProducts();
		} else {
			getProducts();
		}
	}

	/**
	 * проверка авторизован ли пользователь
	 */
	async function authorize() {
		let form = new FormData();

		form.append('authorization', 'check_authorize');

		let response = await fetch('ajax.php', {
			method: 'POST',
			body: form
		});

		let result = await response.json();

		if (result.type === 'success') {
			authorization_status = true;

			getProducts();
		}
	}

	/**
	 * выборка всех продуктов
	 */
	async function getProducts() {
		let form = new FormData();

		form.append('products', 'get_all');

		let response = await fetch('ajax.php', {
			method: 'POST',
			body: form
		});

		let result = await response.json();

		if (result.type === 'success') {
			products = result.products;
		}
	}

	/**
	 * поиск продуктов
	 */
	async function searchProducts() {
		let form = new FormData();

		form.append('products', 'search');
		form.append('category', search.category);
		form.append('name', search.name);
		form.append('provider', search.provider);

		let response = await fetch('ajax.php', {
			method: 'POST',
			body: form
		});

		let result = await response.json();

		if (result.type === 'success') {
			products = result.products;
		}
	}

	/**
	 * выход
	 */
	function exit() {
		let form = new FormData();

		form.append('authorization', 'exit');

		let response = fetch('ajax.php', {
			method: 'POST',
			body: form
		});

		authorization_status = false;
	}

	let authorization_status = false;
	let products = [];
	let search = {
		category: '',
		name: '',
		provider: ''
	};

	authorize();
</script>

{#if authorization_status}
	<div class="container">
		<ListProducts {products} />
	</div>

	<div class="footer">
		<div class="caption">Цены поставщиков на продукты</div>

		<InputSearch name="category" placeholder="Категория" on:inputValue={checkSearchProducts} />
		<InputSearch name="name" placeholder="Название" on:inputValue={checkSearchProducts} />
		<InputSearch name="provider" placeholder="Поставщик" on:inputValue={checkSearchProducts} />

		<div class="exit" on:click={exit}>Выход</div>
	</div>
{:else}
	<Authorization on:status={getAuthorization} />
{/if}