<script>
	import { createEventDispatcher } from 'svelte';
	import Input from './Input.svelte';

	const dispatch = createEventDispatcher();

	let login = {
		type: 'text',
		name: 'login',
		placeholder: 'Логин',
		error: ''
	}
	let password = {
		type: 'password',
		name: 'password',
		placeholder: 'Пароль',
		error: ''
	}

	/**
	 * авторизация
	 */
	async function authorize() {
		let form = new FormData();

		form.append('authorization', 'enter');
		form.append('login', document.getElementById('login').value);
		form.append('password', document.getElementById('password').value);

		let response = await fetch('ajax.php', {
			method: 'POST',
			body: form
		});

		let result = await response.json();

		if (result.type === 'success') {
			dispatch('status', {
				status: true
			});
		} else {
			login.error = result.errors.login;
			password.error = result.errors.password;
		}
	}
</script>

<form action="" method="post" class="enter">
	<div class="caption">Cagliari</div>
	<Input {...login} />
	<Input {...password} />
	<button type="button" class="send button_blue" name="send" on:click={authorize}>Войти</button>
</form>