<script>
	export let type;
	export let name;
	export let placeholder;
	export let error = '';

	let id = name;
	let title = placeholder;
</script>

<input {type} {name} {id} {placeholder} {title}>

{#if error !== ''}
	<div class="error">{error}</div>
{/if}