<script>
	import { createEventDispatcher } from 'svelte';

	function changeInput() {
		clearTimeout(timer);

		timer = setTimeout(() => {
			dispatch('inputValue', {
				name: name,
				value: value
			});
		}, 400);
	}

	const dispatch = createEventDispatcher();

	export let name;
	export let placeholder;

	let id = name;
	let title = placeholder;
	let value = '';
	let timer = '';
</script>

<input {name} {id} {placeholder} {title} type="text" bind:value={value} on:keyup={changeInput}>