<script>
	export let nom = 1;
	export let category = '';
	export let name = '';
	export let providers = [];
	export let unit = '';

	let rowspan = providers.length;

	if (rowspan < 1) {
		rowspan = 1;
	}
</script>

<tr>
	<td {rowspan}>{nom}</td>
	<td {rowspan}>{category}</td>
	<td {rowspan}>{name}</td>

	{#if providers.length > 0}
		<td>{providers[0].name}</td>
		<td>{providers[0].price} р\{unit}</td>
	{:else}
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	{/if}
</tr>

{#each providers as item, i (item.id)}
	{#if i > 0}
		<tr>
			<td>{item.name}</td>
			<td>{item.price} р\{unit}</td>
		</tr>
	{/if}
{/each}