<script>
	import LineProduct from './LineProduct.svelte';

	export let products = [];
</script>

{#if products.length > 0}
	<table>
		<tr>
			<th>№</th>
			<th>Категория</th>
			<th>Название</th>
			<th>Поставщик</th>
			<th>Цена</th>
		</tr>

		{#each products as item (item.id)}
			<LineProduct {...item} />
		{/each}
	</table>
{:else}
	<div class="attention">Продукты не найдены</div>
{/if}